body {
  font-family: 'Helvetica', sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 10px;
  color: white;
}

.enemy-team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.champion-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: transparent;
}

.champion-info {
  display: flex;
  gap: 5px;
  width: 100%;
}

.champion-name {
  font-size: 14px;
  color: white;
  text-align: left;
  margin: 0;
}

.summoner-spells {
  display: flex;
  gap: 5px;
}

.spell {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: transparent;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

img {
  width: 32px;
  height: 32px;
}

.spell img {
  width: 32px;
  height: 32px;
  transition: opacity 0.3s linear;
}

.spell div {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.spell.ultimate {
  border: 1px solid #e60000;
  font-size: 25px;
}